<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Test-Sample" parallel="classes" thread-count="2">

	<test name="Sample_GoogleSearch">
		<classes>
			<class name="org.nng.test.Sample.TestCases.Case1_GoogleSearch" />
			<class name="org.nng.test.Sample.TestCases.Case2_GoogleSearch_WithTestData" />
		</classes>
	</test>

	<!-- 
	<test name="Sample_Another">
		<classes>
			<class name="org.nng.test.Sample.TestCases.Case2_GoogleSearch_WithTestData" />
		</classes>
	</test>
	-->
</suite> 
<!-- Suite -->